---
import Drawer from "./Drawer/DrawerRight.astro";
import Brand from "../BrandHeader.astro";
import NavbarCta from "./widgets/NavbarCta.astro";
import NavbarThemeToggle from "./widgets/NavbarThemeToggle.astro";
import NavigationLinks from "./widgets/NavigationLinks.astro";
---

<Drawer />
<nav
  class="nav fixed start-0 top-0 z-30 w-full border-gray-200 bg-primary-50 backdrop-blur-md transition-all duration-300 ease-in-out dark:border-gray-600 dark:bg-gray-900 dark:backdrop-blur-md"
>
  <div
    class="mx-auto my-4 flex max-w-screen-xl flex-wrap items-center justify-between p-2 px-6"
  >
    <div class="lg:order-1 lg:flex lg:w-auto">
      <Brand />
    </div>
    <div
      class="justify-begin ml-4 mr-4 hidden w-full grow items-center lg:order-2 lg:flex lg:w-auto"
    >
      <NavigationLinks />
    </div>

    <div class="space-x flex lg:order-3">
      <div class="hidden lg:flex lg:w-auto">
        <NavbarCta />
        <NavbarThemeToggle />
      </div>
      <!-- hamburger button - pick left or right only-->
      <!-- left -->
      <!-- <button
        type="button"
        class="inline-flex h-10 w-10 items-center justify-center rounded-lg p-2 text-sm text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600 lg:hidden"
        aria-expanded="false"
        data-drawer-target="drawer-navigation-left"
        data-drawer-show="drawer-navigation-left"
        aria-controls="drawer-navigation-left"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="h-5 w-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"></path>
        </svg>
      </button> -->
      <!-- right -->
      <button
        type="button"
        class="inline-flex h-10 w-10 items-center justify-center rounded-lg p-2 text-sm text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600 lg:hidden"
        data-drawer-target="drawer-navigation-right"
        data-drawer-show="drawer-navigation-right"
        aria-controls="drawer-navigation-right"
        data-drawer-placement="right"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="h-5 w-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"></path>
        </svg>
      </button>
    </div>
  </div>
</nav>

<script is:inline>
  window.addEventListener("scroll", (e) => {
    const nav = document.querySelector(".nav");
    if (window.scrollY) {
      nav?.classList.add("shadow", "bg-opacity-70", "dark:bg-opacity-90");
    } else {
      nav?.classList.remove("shadow", "bg-opacity-70", "dark:bg-opacity-90");
    }
  });

  let lastScrollY = window.scrollY;
  const nav = document.querySelector("nav");

  window.addEventListener("scroll", () => {
    const currentScrollY = window.scrollY;

    if (currentScrollY > lastScrollY && currentScrollY > 100) {
      nav.classList.add("-translate-y-full");
    } else if (currentScrollY < lastScrollY) {
      nav.classList.remove("-translate-y-full");
    }

    lastScrollY = currentScrollY;
  });
</script>
