---

---

<a href="#contact">
  <button
    type="button"
    class="rounded-3xl bg-red-300 px-6 py-2 text-center font-bold text-white hover:bg-red-400 dark:bg-primary-600 dark:hover:bg-primary-700"
    >Contact Us</button
  >
</a>
