---

---

<a href="/contact">
  <button
    type="button"
    class="ocus:ring-2 mt-4 w-full rounded-lg bg-primary-50 px-4 py-2 text-center text-sm font-medium text-primary-400 hover:bg-gray-100
     focus:outline-none focus:ring-4 focus:ring-gray-100 dark:bg-primary-600 dark:text-gray-200 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
    >Get started</button
  >
</a>
